

/* typography & decorations */

body {
    margin: 0;
    font-family: "Titillium Web";
    font-size: 16px;
    background-image:url(backgroundmarble.png);
}

 h1 {
    font-size: 48px;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-decoration-style:double;
    text-decoration-color: rgb(255, 255, 255);
   
 }

 
 h2 {
    font-size: 27px;
    text-align: center;
    font-weight: lighter;
 }

/* ------------------------------------------------------- */


/* styling */

img {
    width:600px;
}


.border-container {
    border: 2px solid white;
    margin: 60px auto;
    width: 800px;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(255, 255, 255, 1);


}


.container {
    padding: 25px 20px;

}

.heading {
    color: white;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}

.section {
    color: white;
    width: 600px;
    margin: 0 auto;


}
.intro {
    padding-bottom: 20px;
}


.post-holder {
    text-align:justify;
    padding-bottom: 20px;
    
}
/* ----------------------------------------------------------- */

/* button styling */

.link-btn, .link-btn:visited {
    background-color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 50px;
    font-family:"Titillium Web";
    font-weight: bold;
}

.link-btn:hover, .link-btn:active, .link-btn:focus {
    background: orangered;
    color: white;
    font-weight: bold;

}

/* --------------------------------------------------------- */